openapi: 3.0.0
info:
  title: TD Ameritrade API w/ OAuth2
  description: This is replication of the TD Ameritrade API.
  version: 1.0.0-oas3
servers:
- url: https://api.tdameritrade.com/v1
security:
- application:
  - read
  - write
paths:
  /oauth2/token:
    post:
      tags:
      - Authentication
      summary: Post Access Token
      description: The token endpoint returns an access token along with an optional
        refresh token.
      operationId: oauth2TokenPOST
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PostAccessBody'
      responses:
        "200":
          description: OK
      security: []
      x-swagger-router-controller: Authentication
  /accounts/{accountId}/orders/{orderId}:
    delete:
      tags:
      - Accounts and Trading
      - Orders
      summary: Cancel Order
      description: Cancel a specific order for a spcific account
      operationId: accountsAccountIdOrdersOrderIdDELETE
      parameters:
      - name: accountId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: orderId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: OK
      security:
      - bearerAuth: []
      x-swagger-router-controller: AccountsAndTrading
  /marketdata/{symbol}/pricehistory:
    get:
      tags:
      - Price History
      operationId: marketdataSymbolPricehistoryGET
      parameters:
      - name: symbol
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: apikey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: periodType
        in: query
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/PeriodType'
      - name: period
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: frequencyType
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/FrequencyType'
      - name: frequency
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: endDate
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: startDate
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: needExtendedHoursData
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandleList'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - bearerAuth: []
      x-swagger-router-controller: PriceHistory
  /ping:
    get:
      summary: Server heartbeat operation
      description: This operation shows how to override the global security defined
        above, as we want to open it up for all users.
      operationId: pingGET
      responses:
        "200":
          description: OK
      security: []
      x-swagger-router-controller: Default
components:
  schemas:
    FrequencyType:
      type: string
      enum:
      - minute
      - daily
      - weekly
      - monthly
    PeriodType:
      type: string
      enum:
      - day
      - month
      - year
      - ytd
    PostAccessBody:
      required:
      - client_id
      - grant_type
      type: object
      properties:
        grant_type:
          type: string
          description: The grant type of the oAuth scheme. Possible values are authorization_code,
            refresh_token
        refresh_token:
          type: string
          description: Required if using refresh token grant
        access_type:
          type: string
          description: Set to offline to receive a refresh token on an authorization_code
            grant type request. Do not set to offline on a refresh_token grant type
            request.
        code:
          type: string
          description: Required if trying to use authorization code grant
        client_id:
          type: integer
          description: OAuth User ID of your application
        redirect_uri:
          type: string
          description: Required if trying to use authorization code grant
      description: Body Parmeers for the Post Access Token Endpoint
    CandleList:
      type: object
      properties:
        candles:
          type: array
          items:
            $ref: '#/components/schemas/CandleList_candles'
        empty:
          type: boolean
        symbol:
          type: string
          description: Symbol
      description: List of Candles
      example:
        symbol: symbol
        candles:
        - volume: 2.3021358869347654518833223846741020679473876953125
          datetime: 6
          high: 1.46581298050294517310021547018550336360931396484375
          low: 5.962133916683182377482808078639209270477294921875
          close: 0.80082819046101150206595775671303272247314453125
          open: 5.63737665663332876420099637471139430999755859375
        - volume: 2.3021358869347654518833223846741020679473876953125
          datetime: 6
          high: 1.46581298050294517310021547018550336360931396484375
          low: 5.962133916683182377482808078639209270477294921875
          close: 0.80082819046101150206595775671303272247314453125
          open: 5.63737665663332876420099637471139430999755859375
        empty: true
    CandleList_candles:
      type: object
      properties:
        close:
          type: number
          description: Close
          format: double
        datetime:
          type: integer
          description: DateTime
          format: int64
        high:
          type: number
          description: High
          format: double
        low:
          type: number
          description: Low
          format: double
        open:
          type: number
          description: Open
          format: double
        volume:
          type: number
          description: Volume
          format: double
      example:
        volume: 2.3021358869347654518833223846741020679473876953125
        datetime: 6
        high: 1.46581298050294517310021547018550336360931396484375
        low: 5.962133916683182377482808078639209270477294921875
        close: 0.80082819046101150206595775671303272247314453125
        open: 5.63737665663332876420099637471139430999755859375
  securitySchemes:
    application:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.tdameritrade.com/auth?response_type=code&redirect_uri=http%3A%2F%2Flocalhost&client_id=YHJUQFCHRMJ7XODGVGGPINB05SCG2H45%40AMER.OAUTHAP
          tokenUrl: /oauth2/token
          scopes: {}
    bearerAuth:
      type: http
      scheme: bearer
