openapi: 3.0.0
info:
  title: TD Ameritrade API - OAuth2
  description: This is replication of the TD Ameritrade API.
  version: 0.1.4
servers:
- url: https://api.tdameritrade.com/v1
security:
- application:
  - read
  - write
paths:
  /oauth2/token:
    post:
      tags:
      - Authentication
      summary: Post Access Token
      description: The token endpoint returns an access token along with an optional
        refresh token.
      operationId: oauth2TokenPOST
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PostAccessBody'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EASObject'
        "400":
          description: An error message indicating the validation problem with the
            request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass valid credentials
            in the request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: An error message indicating the caller doesn't have access
            to the account in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "503":
          description: An error message indicating there is a temporary problem responding.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security: []
      x-swagger-router-controller: Authentication
  /accounts/{accountId}/orders/{orderId}:
    get:
      tags:
      - Orders
      summary: Get Order
      description: Get a specific order for a specific account.
      operationId: accountsAccountIdOrdersOrderIdGET
      parameters:
      - name: accountId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: orderId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderGet'
        "400":
          description: An error message indicating the validation problem with the
            request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: Orders
    put:
      tags:
      - Orders
      summary: Replace Order
      description: Replace an existing order for an account. The existing order will
        be replaced by the new order. Once replaced, the old order will be canceled
        and a new order will be created. See our Place Order Samples Guide - https://developer.tdameritrade.com/content/place-order-samples.
      operationId: accountsAccountIdOrdersOrderIdPUT
      parameters:
      - name: accountId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: orderId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderGet'
      responses:
        "200":
          description: OK
        "400":
          description: An error message indicating the validation problem with the
            request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "404":
          description: An error message if the order was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: Orders
    delete:
      tags:
      - Orders
      summary: Cancel Order
      description: Cancel a specific order for a spcific account
      operationId: accountsAccountIdOrdersOrderIdDELETE
      parameters:
      - name: accountId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: orderId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "400":
          description: An error message indicating the validation problem with the
            request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "404":
          description: An error message if the order was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: Orders
  /accounts/{accountId}/orders:
    get:
      tags:
      - Orders
      summary: Get Orders by Path
      description: Orders for a specific account.
      operationId: accountsAccountIdOrdersGET
      parameters:
      - name: accountId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: maxResults
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: fromEnteredTime
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: toEnteredTime
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - AWAITING_PARENT_ORDER
          - AWAITING_CONDITION
          - AWAITING_MANUAL_REVIEW
          - ACCEPTED
          - AWAITING_UR_OUT
          - PENDING_ACTIVATION
          - QUEUED
          - WORKING
          - REJECTED
          - PENDING_CANCEL
          - CANCELED
          - PENDING_REPLACE
          - REPLACED
          - FILLED
          - EXPIRED
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderGet'
        "400":
          description: An error message indicating the validation problem with the
            request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: Orders
  /orders:
    get:
      tags:
      - Orders
      summary: Get Orders By Query
      description: All orders for a specific account or, if account ID isn't specified,
        orders will be returned for all linked accounts.
      operationId: ordersGET
      parameters:
      - name: accountId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: maxResults
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: fromEnteredTime
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: toEnteredTime
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - AWAITING_PARENT_ORDER
          - AWAITING_CONDITION
          - AWAITING_MANUAL_REVIEW
          - ACCEPTED
          - AWAITING_UR_OUT
          - PENDING_ACTIVATION
          - QUEUED
          - WORKING
          - REJECTED
          - PENDING_CANCEL
          - CANCELED
          - PENDING_REPLACE
          - REPLACED
          - FILLED
          - EXPIRED
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderGet'
        "400":
          description: An error message indicating the validation problem with the
            request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: Orders
    post:
      tags:
      - Orders
      summary: Place Order
      description: Place an order for a specific account. See our Place Order Samples
        Guide - https://developer.tdameritrade.com/content/place-order-samples.
      operationId: ordersPOST
      parameters:
      - name: accountId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/Json:
            schema:
              $ref: '#/components/schemas/OrderGet'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderGet'
        "400":
          description: An error message indicating the validation problem with the
            request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: Orders
  /accounts/{accountId}/savedorders:
    get:
      tags:
      - Saved Orders
      summary: Get Saved Orders by Path
      description: Saved orders for a specific account.
      operationId: accountsAccountIdSavedordersGET
      parameters:
      - name: accountId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderGet'
        "400":
          description: An error message indicating the validation problem with the
            request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: SavedOrders
    post:
      tags:
      - Saved Orders
      summary: Create Saved Orders
      description: Save an order for a specific account. See our Place Order Samples
        Guide - https://developer.tdameritrade.com/content/place-order-samples.
      operationId: accountsAccountIdSavedordersPOST
      parameters:
      - name: accountId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/Json:
            schema:
              $ref: '#/components/schemas/OrderGet'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderGet'
        "400":
          description: An error message indicating the validation problem with the
            request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EASObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: SavedOrders
  /accounts/{accountId}/savedorders/{savedOrderId}:
    get:
      tags:
      - Saved Orders
      summary: Get Saved Orders
      description: Specific saved order by its ID, for a specific account.
      operationId: accountsAccountIdSavedordersSavedOrderIdGET
      parameters:
      - name: accountId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: savedOrderId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderGet'
        "400":
          description: An error message indicating the validation problem with the
            request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: SavedOrders
    put:
      tags:
      - Saved Orders
      summary: Replace Saved Orders
      description: Replace an existing saved order for an account. The existing saved
        order will be replaced by the new order. see our Place Order Samples Guide
        - Click here.
      operationId: accountsAccountIdSavedordersSavedOrderIdPUT
      parameters:
      - name: accountId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: savedOrderId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderGet'
      responses:
        "200":
          description: OK
        "400":
          description: An error message indicating the validation problem with the
            request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "404":
          description: An error message if the order was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: SavedOrders
    delete:
      tags:
      - Saved Orders
      summary: Delete Saved Orders
      description: Delete a specific saved order for a specific account.
      operationId: accountsAccountIdSavedordersSavedOrderIdDELETE
      parameters:
      - name: accountId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: savedOrderId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EASObject'
        "400":
          description: An error message indicating the validation problem with the
            request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "404":
          description: An error message if the order was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: SavedOrders
  /accounts:
    get:
      tags:
      - Accounts
      summary: Get Accounts
      description: Account balances, positions, and orders for all linked accounts.
      operationId: accountsGET
      parameters:
      - name: fields
        in: query
        description: 'Balances displayed by default, additional fields can be added
          here by adding positions or orders. Example: fields=positions,orders'
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        "400":
          description: An error message indicating the validation problem with the
            request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "207":
          description: Indicates there was a problem getting account data for one
            or more linked accounts, but the accounts who's data returned successfully
            is in the response. Do not aggregate balances and positions for this case.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
      security:
      - bearerAuth: []
      x-swagger-router-controller: Accounts
  /accounts/{accountId}:
    get:
      tags:
      - Accounts
      summary: Get Account
      description: Account balances, positions, and orders for a specific account.
      operationId: accountsAccountIdGET
      parameters:
      - name: accountId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: fields
        in: query
        description: 'Balances displayed by default, additional fields can be added
          here by adding positions or orders. Example: fields=positions,orders'
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        "400":
          description: An error message indicating the validation problem with the
            request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: Accounts
  /marketdata/hours:
    get:
      tags:
      - Market Hours
      summary: Get Hours for Multiple Markets
      operationId: marketdataHoursGET
      parameters:
      - name: apiKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: markets
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - EQUITY
          - OPTION
          - FUTURE
          - BOND
          - FOREX
      - name: date
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hours'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: MarketHours
  /marketdata/{market}/hours:
    get:
      tags:
      - Market Hours
      summary: Get Hours for Multiple Markets
      operationId: marketdataMarketHoursGET
      parameters:
      - name: apiKey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: market
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: date
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hours'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: MarketHours
  /marketdata/{index}/movers:
    get:
      tags:
      - Movers
      summary: Get price history for a symbol
      operationId: marketdataIndexMoversGET
      parameters:
      - name: index
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: apikey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: direction
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - up
          - down
      - name: change
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - value
          - percent
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mover'
        "400":
          description: An error message indicating the caller must pass a correct
            value in the parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "404":
          description: An error message indicating movers for the instrument was not
            found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: Movers
  /marketdata/{symbol}/pricehistory:
    get:
      tags:
      - Price History
      summary: Get price history for a symbol
      operationId: marketdataSymbolPricehistoryGET
      parameters:
      - name: symbol
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: apikey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: periodType
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/PeriodType'
      - name: period
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: frequencyType
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/FrequencyType'
      - name: frequency
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: endDate
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: startDate
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: needExtendedHoursData
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandleList'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: PriceHistory
  /marketdata/quotes:
    get:
      tags:
      - Quotes
      summary: Get Quotes
      description: Get quote for one or more symbols
      operationId: marketdataQuotesGET
      parameters:
      - name: apikey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: symbol
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetQuoteResponse'
        "400":
          description: An error message indicating the caller must pass a non null
            value in the parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass a valid Authorization
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "404":
          description: An error message indicating the instrument for the symbol/cusip
            was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "406":
          description: An error message indicating an issue in the symbol regex, or
            number of symbols searched is over the maximum.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: Quotes
  /marketdata/{symbol}/quotes:
    get:
      tags:
      - Quotes
      summary: Get Quote
      description: Get quote for a symbol
      operationId: marketdataSymbolQuotesGET
      parameters:
      - name: symbol
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: apikey
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetQuoteResponse'
        "400":
          description: An error message indicating the caller must pass a non null
            value in the parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass a valid Authorization
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "404":
          description: An error message indicating the instrument for the symbol/cusip
            was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: Quotes
  /marketdata/chains:
    get:
      tags:
      - Option Chains
      summary: Get Option Chain
      description: Get option chain for an optionable Symbol
      operationId: marketdataChainsGET
      parameters:
      - name: apikey
        in: query
        description: Pass your OAuth User ID to make an unauthenticated request for
          delayed data.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: symbol
        in: query
        description: Enter one symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: contractType
        in: query
        description: Type of contracts to return in the chain. Can be CALL, PUT, or
          ALL. Default is ALL.
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: ALL
          enum:
          - CALL
          - PUT
          - ALL
      - name: strikeCount
        in: query
        description: The number of strikes to return above and below the at-the-money
          price.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: includeQuotes
        in: query
        description: Include quotes for options in the option chain. Can be TRUE or
          FALSE. Default is FALSE.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: strategy
        in: query
        description: Passing a value returns a Strategy Chain. Possible values are
          SINGLE, ANALYTICAL (allows use of the volatility, underlyingPrice, interestRate,
          and daysToExpiration params to calculate theoretical values), COVERED, VERTICAL,
          CALENDAR, STRANGLE, STRADDLE, BUTTERFLY, CONDOR, DIAGONAL, COLLAR, or ROLL.
          Default is SINGLE.
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Strategy'
      - name: interval
        in: query
        description: Strike interval for spread strategy chains (see strategy param).
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: strike
        in: query
        description: Provide a strike price to return options only at that strike
          price.
        required: false
        style: form
        explode: true
        schema:
          type: number
      - name: range
        in: query
        description: 'Returns options for the given range. Possible values are: ITM:
          In-the-money NTM: Near-the-money OTM: Out-of-the-money SAK: Strikes Above
          Market SBK: Strikes Below Market SNK: Strikes Near Market ALL: All Strikes
          Default is ALL.'
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ITM
          - NTM
          - OTM
          - SAK
          - SBK
          - SNK
          - ALL
      - name: fromDate
        in: query
        description: 'Only return expirations after this date. For strategies, expiration
          refers to the nearest term expiration in the strategy. Valid ISO-8601 formats
          are: yyyy-MM-dd and yyyy-MM-ddTHH:mm:ssz.'
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: toDate
        in: query
        description: 'Only return expirations before this date. For strategies, expiration
          refers to the nearest term expiration in the strategy. Valid ISO-8601 formats
          are: yyyy-MM-dd and yyyy-MM-ddTHH:mm:ssz.'
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: volatility
        in: query
        description: Volatility to use in calculations. Applies only to ANALYTICAL
          strategy chains (see strategy param).
        required: false
        style: form
        explode: true
        schema:
          type: number
      - name: underlyingPrice
        in: query
        description: Underlying price to use in calculations. Applies only to ANALYTICAL
          strategy chains (see strategy param).
        required: false
        style: form
        explode: true
        schema:
          type: number
      - name: interestRate
        in: query
        description: Interest rate to use in calculations. Applies only to ANALYTICAL
          strategy chains (see strategy param).
        required: false
        style: form
        explode: true
        schema:
          type: number
      - name: daysToExpiration
        in: query
        description: Days to expiration to use in calculations. Applies only to ANALYTICAL
          strategy chains (see strategy param)
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: expMonth
        in: query
        description: 'Return only options expiring in the specified month. Month is
          given in the three character format. Example: JAN Default is ALL.'
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: ALL
      - name: optionType
        in: query
        description: 'Type of contracts to return. Possible values are: S: Standard
          contract NS: Non-standard contract ALL: All contracts Default is ALL.'
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: ALL
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOptionChainResponse'
        "400":
          description: An error message indicating the caller must pass a non null
            value in the parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "404":
          description: An error message indicating the optionchain for the symbol
            was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating internal error in the service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: OptionChains
  /accounts/{accountId}/preferences:
    get:
      tags:
      - User Info & Preferences
      summary: Get Preferences
      description: Preferences for a specific account.
      operationId: accountsAccountIdPreferencesGET
      parameters:
      - name: accountId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Preferences'
        "400":
          description: An error message indicating the validation problem with the
            request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass a valid Authorization
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "503":
          description: An error message indicating there is a temporary problem responding.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: UserInfoPreferences
    put:
      tags:
      - User Info & Preferences
      summary: Update Preferences
      description: Update preferences for a specific account. Please note that the
        directOptionsRouting and directEquityRouting values cannot be modified via
        this operation.
      operationId: accountsAccountIdPreferencesPUT
      parameters:
      - name: accountId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Preferences'
      responses:
        "200":
          description: OK
        "400":
          description: An error message indicating the validation problem with the
            request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "503":
          description: An error message indicating there is a temporary problem responding.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: UserInfoPreferences
  /accounts/watchlists:
    get:
      tags:
      - Watchlist
      summary: Get Watchlists for Multiple Accounts
      description: All watchlists for all of the user's linked accounts.
      operationId: accountsWatchlistsGET
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WatchListResponse'
        "401":
          description: An error message indicating the caller must pass a valid Authorization
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: Watchlist
  /accounts/{accountId}/watchlists/{watchlistId}:
    get:
      tags:
      - Watchlist
      summary: Get Watchlists
      description: Specific watchlist for a specific account.
      operationId: accountsAccountIdWatchlistsWatchlistIdGET
      parameters:
      - name: accountId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: watchlistId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WatchListResponse'
        "400":
          description: An error message indicating the validation problem with the
            request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass a valid Authorization
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "404":
          description: An error message indicating the account or the watchlist ID
            does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: Watchlist
    put:
      tags:
      - Watchlist
      summary: Replace Watchlist
      description: Replace watchlist for a specific account.
      operationId: accountsAccountIdWatchlistsWatchlistIdPUT
      parameters:
      - name: accountId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: watchlistId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WatchListRequest'
      responses:
        "200":
          description: OK
        "400":
          description: An error message indicating the validation problem with the
            request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass a valid Authorization
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "204":
          description: Watchlist updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: Watchlist
    patch:
      tags:
      - Watchlist
      summary: Update Watchlist
      description: 'Partially update watchlist for a specific account: change watchlist
        name, add to the beginning/end of a watchlist, update or delete items in a
        watchlist. This method does not verify that the symbol or asset type are valid.'
      operationId: accountsAccountIdWatchlistsWatchlistIdPATCH
      parameters:
      - name: accountId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: watchlistId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WatchListRequest'
      responses:
        "200":
          description: OK
        "400":
          description: An error message indicating the validation problem with the
            request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass a valid Authorization
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "204":
          description: Watchlist updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: Watchlist
  /accounts/{accountId}/watchlists:
    get:
      tags:
      - Watchlist
      summary: Get Watchlists for Single Account
      description: all watchlist for an account.
      operationId: accountsAccountIdWatchlistsGET
      parameters:
      - name: accountId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WatchListResponse'
        "401":
          description: An error message indicating the caller must pass a valid Authorization
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: Watchlist
    post:
      tags:
      - Watchlist
      summary: Create Watchlist
      description: Create watchlist for specific account.This method does not verify
        that the symbol or asset type are valid.
      operationId: accountsAccountIdWatchlistsPOST
      parameters:
      - name: accountId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WatchListRequest'
      responses:
        "200":
          description: OK
        "400":
          description: An error message indicating the validation problem with the
            request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass a valid Authorization
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: Watchlist
  /accounts/{accountId}/transactions:
    get:
      tags:
      - Transactions
      summary: Get Transactions
      description: Transaction for a specific account.
      operationId: accountsAccountIdTransactionsGET
      parameters:
      - name: accountId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: type
        in: query
        description: Only transactions with the specified type will be returned.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ALL
          - TRADE
          - BUY_ONLY
          - SELL_ONLY
          - CASH_IN_OR_CASH_OUT
          - CHECKING
          - DIVEDEND
          - INTEREST
          - OTHER
          - ADVISOR_FEES
      - name: symbol
        in: query
        description: Only transactions with the specified symbol will be returned.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: startDate
        in: query
        description: 'Only transactions after the Start Date will be returned. Note:
          The maximum date range is one year. Valid ISO-8601 formats are : yyyy-MM-dd.'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: endDate
        in: query
        description: 'Only transactions after the end Date will be returned. Note:
          The maximum date range is one year. Valid ISO-8601 formats are : yyyy-MM-dd.'
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        "400":
          description: An error message indicating the validation problem with the
            request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass a valid Authorization
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: An error message indicating the caller doesn't have access
            to the account in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "404":
          description: An error message indicating the specified transaction could
            not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "503":
          description: An error message indicating there is a temporary problem responding.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: Transactions
  /accounts/{accountId}/transactions/{transactionId}:
    get:
      tags:
      - Transactions
      summary: Get Transaction
      description: Transaction for a specific account.
      operationId: accountsAccountIdTransactionsTransactionIdGET
      parameters:
      - name: accountId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: transactionId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        "400":
          description: An error message indicating the validation problem with the
            request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass a valid Authorization
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: An error message indicating the caller doesn't have access
            to the account in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "404":
          description: An error message indicating the specified transaction could
            not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "503":
          description: An error message indicating there is a temporary problem responding.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: Transactions
  /userprincipals:
    get:
      tags:
      - User Info & Preferences
      summary: Get User Principals
      description: User Principal details.
      operationId: userprincipalsGET
      parameters:
      - name: fields
        in: query
        description: 'A comma separated String which allows one to specify additional
          fields to return. None of these fields are returned by default. Possible
          values in this String can be: streamerSubscriptionKeys,streamerConnectionInfo,preferences,
          surrogateIds. Example: fields=streamerSubscriptionKeys,streamerConnectionInfo'
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPrincipal'
        "400":
          description: An error message indicating the validation problem with the
            request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "503":
          description: An error message indicating there is a temporary problem responding.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: UserInfoPreferences
  /userprincipals/streamersubscriptionkeys:
    get:
      tags:
      - User Info & Preferences
      summary: Get Streamer Subscription Keys
      description: SubscriptionKey for provided accounts or default accounts.
      operationId: userprincipalsStreamersubscriptionkeysGET
      parameters:
      - name: accountIds
        in: query
        description: A comma separated string of account IDs, to fetch subscription
          keys for each of them.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionKey'
        "400":
          description: An error message indicating the validation problem with the
            request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "500":
          description: An error message indicating there was an unexpected server
            error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "503":
          description: An error message indicating there is a temporary problem responding.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: UserInfoPreferences
  /instruments/{cusip}:
    get:
      tags:
      - Instruments
      summary: Get Instrument
      description: Get an instrument by CUSIP
      operationId: instrumentsCusipGET
      parameters:
      - name: cusip
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: apikey
        in: query
        description: Pass your OAuth User ID to make an unauthenticated request for
          delayed data.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchInstrumentResponse'
        "400":
          description: An error message indicating the caller must pass a non null
            value in the parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "404":
          description: An error message indicating the instrument for the symbol/cusip
            was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: Instruments
  /instruments:
    get:
      tags:
      - Instruments
      summary: Search Instruments
      description: Search or retrieve instrument data, including fundamental data
      operationId: instrumentsGET
      parameters:
      - name: apikey
        in: query
        description: Pass your OAuth User ID to make an unauthenticated request for
          delayed data.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: symbol
        in: query
        description: Value to pass to the search. See projection description for more
          information.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: projection
        in: query
        description: 'The type of request: symbol-search: Retrieve instrument data
          of a specific symbol or cusip symbol-regex: Retrieve instrument data for
          all symbols matching regex. Example: symbol=XYZ.* will return all symbols
          beginning with XYZ desc-search: Retrieve instrument data for instruments
          whose description contains the word supplied. Example: symbol=FakeCompany
          will return all instruments with FakeCompany in the description. desc-regex:
          Search description with full regex support. Example: symbol=XYZ.[A-C] returns
          all instruments whose descriptions contain a word beginning with XYZ followed
          by a character A through C. fundamental: Returns fundamental data for a
          single instrument specified by exact symbol.'
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchInstrumentResponse'
        "400":
          description: An error message indicating the caller must pass a non null
            value in the parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "404":
          description: An error message indicating the instrument for the symbol/cusip
            was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        "406":
          description: An error message indicating an issue in the symbol regex, or
            number of symbols searched is over the maximum.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
      security:
      - bearerAuth: []
      x-swagger-router-controller: Instruments
components:
  schemas:
    WatchListRequest:
      required:
      - name
      - watchlistItems
      type: object
      properties:
        name:
          type: string
        watchlistId:
          type: string
        watchlistItems:
          type: array
          items:
            $ref: '#/components/schemas/WatchListRequest_watchlistItems'
    UserPrincipal:
      type: object
      properties:
        authToken:
          type: string
        userId:
          type: string
        userCdDomainId:
          type: string
        primaryAccountId:
          type: string
        lastLoginTime:
          type: string
          format: date-time
        tokenExpirationTime:
          type: string
          format: date-time
        loginTime:
          type: string
          format: date-time
        accessLevel:
          type: string
        stalePassword:
          type: boolean
          default: false
        streamerInfo:
          $ref: '#/components/schemas/UserPrincipal_streamerInfo'
        professionalStatus:
          type: string
          enum:
          - PROFESSIONAL
          - NON_PROFESSIONAL
          - UNKNOWN_STATUS
        quotes:
          $ref: '#/components/schemas/UserPrincipal_quotes'
        streamerSubscriptionKeys:
          $ref: '#/components/schemas/UserPrincipal_streamerSubscriptionKeys'
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/UserPrincipal_accounts'
      example:
        accessLevel: accessLevel
        streamerInfo:
          streamerSocketUrl: streamerSocketUrl
          accessLevel: accessLevel
          streamerBinaryUrl: streamerBinaryUrl
          appId: appId
          acl: acl
          userGroup: userGroup
          tokenTimestamp: 2000-01-23T04:56:07.000+00:00
          token: token
        professionalStatus: PROFESSIONAL
        authToken: authToken
        userCdDomainId: userCdDomainId
        userId: userId
        tokenExpirationTime: 2000-01-23T04:56:07.000+00:00
        quotes:
          isForexDelayed: false
          isOpraDelayed: false
          isAmexDelayed: false
          isNasdaqDelayed: false
          isIceDelayed: false
          isCmeDelayed: false
          isNyseDelayed: false
        lastLoginTime: 2000-01-23T04:56:07.000+00:00
        loginTime: 2000-01-23T04:56:07.000+00:00
        stalePassword: false
        primaryAccountId: primaryAccountId
        streamerSubscriptionKeys:
          schema:
            keys:
            - key: key
            - key: key
        accounts:
        - accountId: accountId
          preferences:
            directOptionsRouting: false
            defaultEquityOrderLegInstruction: BUY
            expressTrading: false
            authTokenTimeout: FIFTY_FIVE_MINUTES
            defaultEquityQuantity: 0
            defaultEquityOrderType: MARKET
            defaultEquityOrderDuration: DAY
            mutualFundTaxLotMethod:
              schema: FIFO
            defaultAdvancedToolLaunch: TA
            defaultEquityOrderPriceLinkType: VALUE
            directEquityRouting: false
            defaultEquityOrderMarketSession: AM
          displayName: displayName
          segment: segment
          authorizations:
            levelTwoQuotes: false
            optionTradingLevel: COVERED
            streamerAccess: false
            marginTrading: false
            streamingNews: false
            scottradeAccount: false
            advancedMargin: false
            apex: false
            stockTrading: false
          description: description
          company: company
          acl: acl
          surrogateIds:
            key: surrogateIds
          accountCdDomainId: accountCdDomainId
        - accountId: accountId
          preferences:
            directOptionsRouting: false
            defaultEquityOrderLegInstruction: BUY
            expressTrading: false
            authTokenTimeout: FIFTY_FIVE_MINUTES
            defaultEquityQuantity: 0
            defaultEquityOrderType: MARKET
            defaultEquityOrderDuration: DAY
            mutualFundTaxLotMethod:
              schema: FIFO
            defaultAdvancedToolLaunch: TA
            defaultEquityOrderPriceLinkType: VALUE
            directEquityRouting: false
            defaultEquityOrderMarketSession: AM
          displayName: displayName
          segment: segment
          authorizations:
            levelTwoQuotes: false
            optionTradingLevel: COVERED
            streamerAccess: false
            marginTrading: false
            streamingNews: false
            scottradeAccount: false
            advancedMargin: false
            apex: false
            stockTrading: false
          description: description
          company: company
          acl: acl
          surrogateIds:
            key: surrogateIds
          accountCdDomainId: accountCdDomainId
    SubscriptionKey:
      type: object
      properties:
        keys:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionKey_keys'
      example:
        keys:
        - key: key
        - key: key
    Preferences:
      required:
      - authTokenTimeout
      - defaultAdvancedToolLaunch
      - defaultEquityOrderDuration
      - defaultEquityOrderLegInstruction
      - defaultEquityOrderMarketSession
      - defaultEquityOrderPriceLinkType
      - defaultEquityOrderType
      - defaultEquityQuantity
      - equityTaxLotMethod
      - expressTrading
      - mutualFundTaxLotMethod
      - optionTaxLotMethod
      type: object
      properties:
        expressTrading:
          type: boolean
          default: false
        directOptionsRouting:
          type: boolean
          default: false
        directEquityRouting:
          type: boolean
          default: false
        defaultEquityOrderLegInstruction:
          type: string
          enum:
          - BUY
          - SELL
          - BUY_TO_COVER
          - SELL_SHORT
          - NONE
        defaultEquityOrderType:
          type: string
          enum:
          - MARKET
          - LIMIT
          - STOP
          - STOP_LIMIT
          - TRAILING_STOP
          - MARKET_ON_CLOSE
          - NONE
        defaultEquityOrderPriceLinkType:
          type: string
          enum:
          - VALUE
          - PERCENT
          - NONE
        defaultEquityOrderDuration:
          type: string
          enum:
          - DAY
          - GOOD_TILL_CANCEL
          - NONE
        defaultEquityOrderMarketSession:
          type: string
          enum:
          - AM
          - PM
          - NORMAL
          - SEAMLESS
          - NONE
        defaultEquityQuantity:
          minimum: 0
          type: integer
          format: int32
        mutualFundTaxLotMethod:
          $ref: '#/components/schemas/UserPrincipal_preferences_mutualFundTaxLotMethod'
        optionTaxLotMethod:
          $ref: '#/components/schemas/UserPrincipal_preferences_mutualFundTaxLotMethod'
        equityTaxLotMethod:
          $ref: '#/components/schemas/UserPrincipal_preferences_mutualFundTaxLotMethod'
        defaultAdvancedToolLaunch:
          type: string
          enum:
          - TA
          - "N"
          - "Y"
          - TOS
          - NONE
          - CC2
        authTokenTimeout:
          type: string
          enum:
          - FIFTY_FIVE_MINUTES
          - TWO_HOURS
          - FOUR_HOURS
          - EIGHT_HOURS
      example:
        directOptionsRouting: false
        defaultEquityOrderLegInstruction: BUY
        expressTrading: false
        authTokenTimeout: FIFTY_FIVE_MINUTES
        defaultEquityQuantity: 0
        defaultEquityOrderType: MARKET
        defaultEquityOrderDuration: DAY
        mutualFundTaxLotMethod:
          schema: FIFO
        defaultAdvancedToolLaunch: TA
        defaultEquityOrderPriceLinkType: VALUE
        directEquityRouting: false
        defaultEquityOrderMarketSession: AM
    LotMethod:
      type: string
      enum:
      - FIFO
      - LIFO
      - HIGH_COST
      - LOW_COST
      - MINIMUM_TAX
      - AVERAGE_COST
      - NONE
    Transaction:
      type: object
      properties:
        type:
          type: string
          enum:
          - TRADE
          - RECEIVE_AND_DELIVER
          - DIVIDEND_OR_INTEREST
          - ACH_RECEIPT
          - ACH_DISBURSEMENT
          - CASH_RECEIPT
          - CASH_DISBURSEMENT
          - ELECTRONIC_FUND
          - WIRE_OUT
          - WIRE_IN
          - JOURNAL
          - MEMORANDUM
          - MARGIN_CALL
          - MONEY_MARKET
          - SMA_ADJUSTMENT
        clearingReferenceNumber:
          type: string
        subAccount:
          type: string
        settlementDate:
          type: string
          format: date-time
        orderId:
          type: string
        sma:
          type: number
          format: double
        requirementReallocationAmount:
          type: number
          format: double
        dayTradeBuyingPowerEffect:
          type: number
          format: double
        netAmount:
          type: number
          format: double
        transactionDate:
          type: string
          format: date-time
        orderDate:
          type: string
          format: date-time
        transactionSubType:
          type: string
        transactionId:
          type: integer
          format: int64
        cashBalanceEffectFlag:
          type: boolean
          default: false
        description:
          type: string
        achStatus:
          type: string
          enum:
          - Approved
          - Rejected
          - Cancel
          - Error
        accruedInterest:
          type: number
          format: double
        fees:
          type: object
          additionalProperties:
            type: number
            format: double
        transactionItem:
          $ref: '#/components/schemas/Transaction_transactionItem'
      example:
        fees:
          key: 7.061401241503109105224211816675961017608642578125
        clearingReferenceNumber: clearingReferenceNumber
        orderId: orderId
        netAmount: 5.962133916683182377482808078639209270477294921875
        achStatus: Approved
        sma: 0.80082819046101150206595775671303272247314453125
        description: description
        accruedInterest: 2.3021358869347654518833223846741020679473876953125
        settlementDate: 2000-01-23T04:56:07.000+00:00
        type: TRADE
        transactionDate: 2000-01-23T04:56:07.000+00:00
        subAccount: subAccount
        transactionId: 5
        transactionSubType: transactionSubType
        transactionItem:
          accountId: 9
          amount: 3.61607674925191080461672754609026014804840087890625
          cost: 4.1456080298839363962315474054776132106781005859375
          price: 2.027123023002321833274663731572218239307403564453125
          instruction: BUY
          instrument:
            symbol: symbol
            cusip: cusip
            underlyingSymbol: underlyingSymbol
            optionStrikePrice: 1.231513536777255612975068288506008684635162353515625
            bondInterestRate: 1.024645700144157789424070870154537260532379150390625
            description: description
            bondMaturityDate: 2000-01-23T04:56:07.000+00:00
            putCall: PUT
            optionExpirationDate: 2000-01-23T04:56:07.000+00:00
            assetType: EQUITY
          parentOrderKey: 7
          positionEffect: OPENING
          parentChildIndicator: parentChildIndicator
        dayTradeBuyingPowerEffect: 1.46581298050294517310021547018550336360931396484375
        requirementReallocationAmount: 6.02745618307040320615897144307382404804229736328125
        cashBalanceEffectFlag: false
        orderDate: 2000-01-23T04:56:07.000+00:00
    OptionChain:
      type: object
      properties:
        symbol:
          type: string
        status:
          type: string
        underlying:
          $ref: '#/components/schemas/OptionChain_underlying'
        strategy:
          $ref: '#/components/schemas/OptionChain_strategy'
        interval:
          type: number
          format: double
        isDelayed:
          type: boolean
        isIndex:
          type: boolean
        daysToExpiration:
          type: number
          format: double
        interestRate:
          type: number
          format: double
        underlyingPrice:
          type: number
          format: double
        volatility:
          type: number
          format: double
        callExpDateMap:
          type: object
          additionalProperties:
            type: object
        putExpDateMap:
          type: object
          additionalProperties:
            type: object
    ExpirationDate:
      type: object
      properties:
        date:
          type: string
    Underlying:
      type: object
      properties:
        ask:
          type: number
          format: double
        askSize:
          type: integer
          format: int32
        bid:
          type: number
          format: double
        bidSize:
          type: integer
          format: int32
        change:
          type: number
          format: double
        close:
          type: number
          format: double
        delayed:
          type: boolean
        description:
          type: string
        exchangeName:
          type: string
          enum:
          - IND
          - ASE
          - NYS
          - NAS
          - NAP
          - PAC
          - OPR
          - BATS
        fiftyTwoWeekHigh:
          type: number
          format: double
        fiftyTwoWeekLow:
          type: number
          format: double
        highePrice:
          type: number
          format: double
        last:
          type: number
          format: double
        lowPrice:
          type: number
          format: double
        mark:
          type: number
          format: double
        markChange:
          type: number
          format: double
        makrPercentChange:
          type: number
          format: double
        openPrice:
          type: number
          format: double
        percentChange:
          type: number
          format: double
        quoteTime:
          type: integer
          format: int64
        symbol:
          type: string
        totalVolume:
          type: integer
          format: int64
        tradeTime:
          type: integer
          format: int64
    StrikePriceMap:
      type: object
    Strategy:
      type: string
      enum:
      - SINGLE
      - ANALYTICAL
      - COVERED
      - VERTICAL
      - CALENDAR
      - STRANGLE
      - STRADDLE
      - BUTTERFLY
      - CONDOR
      - DIAGONAL
      - COLLAR
      - ROLL
    Mover:
      type: object
      properties:
        change:
          type: number
          format: double
        description:
          type: string
        direction:
          type: string
          enum:
          - up
          - down
        last:
          type: number
          format: double
        symbol:
          type: string
        totalVolume:
          type: integer
          format: int64
      example:
        totalVolume: 1
        symbol: symbol
        last: 6.02745618307040320615897144307382404804229736328125
        change: 0.80082819046101150206595775671303272247314453125
        description: description
        direction: up
    Hours:
      type: object
      properties:
        category:
          type: string
        date:
          type: string
        exchange:
          type: string
        isOpen:
          type: boolean
        marketType:
          type: string
          enum:
          - BOND
          - EQUITY
          - ETF
          - FOREX
          - FUTURE
          - FUTURE_OPTION
          - INDEX
          - INDICATOR
          - MUTUAL_FUND
          - OPTION
          - UNKNOWN
        product:
          type: string
        productName:
          type: string
        sessionHours:
          $ref: '#/components/schemas/Hours_sessionHours'
      example:
        date: date
        product: product
        isOpen: true
        exchange: exchange
        sessionHours:
          additionalProperties:
          - additionalProperties
          - additionalProperties
        category: category
        marketType: BOND
        productName: productName
    Account:
      type: object
      properties:
        securitiesAccount:
          $ref: '#/components/schemas/Account_securitiesAccount'
      example:
        securitiesAccount:
          schema:
            schema: ""
    Positions:
      type: array
      items:
        $ref: '#/components/schemas/Positions_inner'
    SecuritiesAccount:
      type: object
      properties:
        schema:
          discriminator:
            propertyName: type
            mapping:
              MARGIN: '#/components/schemas/MarginAccount'
              CASH: '#/components/schemas/CashAccount'
          oneOf:
          - $ref: '#/components/schemas/MarginAccount'
          - $ref: '#/components/schemas/CashAccount'
      example:
        schema: ""
    MarginAccount:
      type: object
      properties:
        type:
          type: string
          enum:
          - CASH
          - MARGIN
        accountId:
          type: string
        roundTrips:
          type: integer
          format: int32
        isDayTrader:
          type: boolean
          default: false
        isClosingOnlyRestricted:
          type: boolean
          default: false
        positions:
          $ref: '#/components/schemas/MarginAccount_positions'
        orderStrategies:
          $ref: '#/components/schemas/MarginAccount_orderStrategies'
        initialBalances:
          $ref: '#/components/schemas/MarginAccount_initialBalances'
        currentBalances:
          $ref: '#/components/schemas/MarginAccount_currentBalances'
        projectedBalances:
          $ref: '#/components/schemas/MarginAccount_currentBalances'
    MarginAccountBalances:
      type: object
      properties:
        accruedInterest:
          type: number
          format: double
        cashBalance:
          type: number
          format: double
        cashReceipts:
          type: number
          format: double
        longOptionMarketValue:
          type: number
          format: double
        liquidationValue:
          type: number
          format: double
        longMarketValue:
          type: number
          format: double
        moneyMarketFund:
          type: number
          format: double
        savings:
          type: number
          format: double
        shortMarketValue:
          type: number
          format: double
        pendingDeposits:
          type: number
          format: double
        availableFunds:
          type: number
          format: double
        availableFundsNonMarginableTrade:
          type: number
          format: double
        buyingPower:
          type: number
          format: double
        buyingPowerNonMarginableTrade:
          type: number
          format: double
        dayTradingBuyingPower:
          type: number
          format: double
        dayTradingBuyingPowerCall:
          type: number
          format: double
        equity:
          type: number
          format: double
        equityPercentage:
          type: number
          format: double
        longMarginValue:
          type: number
          format: double
        maintenanceCall:
          type: number
          format: double
        maintenanceRequirement:
          type: number
          format: double
        marginBalance:
          type: number
          format: double
        regTCall:
          type: number
          format: double
        shortBalance:
          type: number
          format: double
        shortMarginValue:
          type: number
          format: double
        shortOptionMarketValue:
          type: number
          format: double
        sma:
          type: number
          format: double
        mutualFundValue:
          type: number
          format: double
        bondValue:
          type: number
          format: double
        isInCall:
          type: boolean
          default: false
        stockBuyingPower:
          type: number
          format: double
        optionBuyingPower:
          type: number
          format: double
    CashAccount:
      type: object
      properties:
        type:
          type: string
          enum:
          - CASH
          - MARGIN
        accountId:
          type: string
        roundTrips:
          type: integer
          format: int32
        isDayTrader:
          type: boolean
          default: false
        isClosingOnlyRestricted:
          type: boolean
          default: false
        positions:
          $ref: '#/components/schemas/MarginAccount_positions'
        orderStrategies:
          $ref: '#/components/schemas/MarginAccount_orderStrategies'
        initialBalances:
          $ref: '#/components/schemas/CashAccount_initialBalances'
        currentBalances:
          $ref: '#/components/schemas/CashAccount_currentBalances'
        projectedBalances:
          $ref: '#/components/schemas/CashAccount_currentBalances'
    CashAccountBalances:
      type: object
      properties:
        accruedInterest:
          type: number
          format: double
        cashBalance:
          type: number
          format: double
        cashReceipts:
          type: number
          format: double
        longOptionMarketValue:
          type: number
          format: double
        liquidationValue:
          type: number
          format: double
        longMarketValue:
          type: number
          format: double
        moneyMarketFund:
          type: number
          format: double
        savings:
          type: number
          format: double
        shortMarketValue:
          type: number
          format: double
        pendingDeposits:
          type: number
          format: double
        cashAvailableForTrading:
          type: number
          format: double
        cashAvailableForWithdrawal:
          type: number
          format: double
        cashCall:
          type: number
          format: double
        longNonMarginableMarketValue:
          type: number
          format: double
        totalCash:
          type: number
          format: double
        shortOptionMarketValue:
          type: number
          format: double
        mutualFundValue:
          type: number
          format: double
        bondValue:
          type: number
          format: double
        cashDebitCallValue:
          type: number
          format: double
        unsettledCash:
          type: number
          format: double
    Session:
      type: string
      enum:
      - NORMAL
      - AM
      - PM
      - SEAMLESS
    Duration:
      type: string
      enum:
      - DAY
      - GOOD_TIL_CANCEL
      - FILL_OR_KILL
    OrderType:
      type: string
      enum:
      - MARKET
      - LIMIT
      - STOP
      - STOP_LIMIT
      - TRAILING_STOP
      - MARKET_ON_CLOSE
      - EXERCISE
      - TRAILING_STOP_LIMIT
      - NET_DEBIT
      - NET_CREDIT
      - NET_ZERO
    OrderGet:
      type: object
      properties:
        session:
          $ref: '#/components/schemas/OrderGet_session'
        duration:
          $ref: '#/components/schemas/OrderGet_duration'
        orderType:
          $ref: '#/components/schemas/OrderGet_orderType'
        cancelTime:
          $ref: '#/components/schemas/OrderGet_cancelTime'
        complexOrderStrategyType:
          type: string
          enum:
          - NONE
          - COVERED
          - VERTICAL
          - BACK_RATIO
          - CALENDAR
          - DIAGONAL
          - STRADDLE
          - STRANGLE
          - COLLAR_SYNTHETIC
          - BUTTERFLY
          - CONDOR
          - IRON_CONDOR
          - VERTICAL_ROLL
          - COLLAR_WITH_STOCK
          - DOUBLE_DIAGONAL
          - UNBALANCED_BUTTERFLY
          - UNBALANCED_CONDOR
          - UNBALANCED_IRON_CONDOR
          - UNBALANCED_VERTICAL_ROLL
          - CUSTOM
        quality:
          type: number
          format: double
        filledQuantity:
          type: number
          format: double
        remainingQuantity:
          type: number
          format: double
[...]
